<div class="container pb-3 ">
    <div class="row">
        <div class="col-4 mx-auto">
            <form class="myLoginForm">
                <h5>Login Here!!!</h5>
                <br>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
                <div class="loginBtnParent">
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>
                <div class="form-group">
                    <a href="/sign-up">Student Registation</a>
                </div>
            </form>
        </div>
    </div>
</div>