<br>
<br>
<div class="wrapper fadeInDown">
    <div id="formContent">
        <div class="fadeIn first">
            <h3 class="titlecontent"> Registration</h3>
            <hr>
        </div>
        <form>
            <input type="text" id="login" class="fadeIn second" name="login" placeholder="login">
            <input type="text" id="password" class="fadeIn third" name="login" placeholder="password">
            <div class="form-element" style="margin-left:20px;margin-right: 20px;">
                <select name="" id="" class="form-control">
              <option value="librarian">Librarian</option>
              <option value="student">Student</option>
            </select>
            </div>
            <button class="btn btn-primary">Save</button>
        </form>
        <div id="formFooter">
            <a class="underlineHover" href="/sign-in">Sign In</a>
        </div>
    </div>
</div>